.clock-app {
  text-align: center;
  margin-top: 150px;
  padding-bottom: 100px;
}

.tab-list {
  width: 100%;
}

.tab {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #f0f0f0;
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  padding: 10px;
}

.tab:first-of-type {
  border-right: none;
  border-radius: 5px 0 0 0;
}

.tab:last-of-type {
  border-left: none;
  border-radius: 0 5px 0 0;
}

.tab:not(.active):hover {
  background: #e0e0e0;
}

.tab.active {
  background: white;
  border-bottom: 2px solid #2a86db;
  font-weight: bold;
}
