.stopper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(27, 27, 27);
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;
  border-top: none;
  width: 500px;
  min-height: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.container h2 {
  font-weight: normal;
}

.time-display {
  font-family: sans-serif;
  font-size: 36px;
  color: #333;
  font-weight: bold;
  margin: 20px 0;
}

.digit {
  display: inline-block;
  text-align: center;
  width: 2ch;
}
