* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(#fcffff, #deecfc);
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  margin: 0;
  padding: 0;
}
